input {
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;
}
#screen1 input {
    top: 47.05%;
    left: 50.4%;
    width: 21.5%;
    height: 4.35%;  
}
input#tpknu {
    top: 55.6%;
}
input#tprmg {
    top: 72.9%;
}
input#tpknumg {
     top: 81.53%;
}

div#packButton{
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;   
    top: 61.05%;
    left: 50%;
    width: 21.5%;
    height: 4.35%;  
}

div#packButton{
color: #ffffff;
background-color: #2d63c8;
font-size: 16px;
border: 1px solid #2d63c8;
padding: 5px;
cursor: pointer
}

div#mgsButton{
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;   
    top: 86.55%;
    left: 50%;
    width: 21.5%;
    height: 4.35%;  
}

div#mgsButton{
color: #ffffff;
background-color: #2d63c8;
font-size: 16px;
border: 1px solid #2d63c8;
padding: 5px;
cursor: pointer
}


div#mgsButton:hover, 
div#packButton:hover  {
			color: #2d63c8;
			background-color: #ffffff;
		}



        
/*screen 2 and 4*/        
    #screen2 div, #screen4 div{
        position: absolute;
        background-color: transparent;
        font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    }

    #screen2 div, #screen4 div {
        top: 51.2%;
        left: 50.4%;
        width: 13.7%;
        height: 4.35%;
    }

    div#cpknb, div#mgcpknb {
        left: 65.4%;
    }

    div#ctotsku, div#mgtotsku {
        left: 80.5%;
    }
    div#ctotsp, div#mgtotsp  {
        top: 59.8%;
        width: 43.85%;
    }

    div#zpknb, div#mgzpknb {
        top: 73%;
        left: 65.4%;
    }
    div#zsku, div#mgzsku {
        top: 73%;
        left: 80.5%;
    }
    div#ztot, div#mgztot {
        top: 81.6%;
        width: 43.85%;
    }


#screen2 input, #screen4 input {
    top: 51.2%;
    left: 50.4%;
    width: 13.7%;
    height: 4.35%;
}
input#cpknb, input#mgcpknb {
    left: 65.4%;
}
input#ctotsku, input#mgtotsku {
    left: 80.5%;
}
input#ctotsp, input#mgtotsp  {
    top: 59.8%;
    width: 43.85%;
}
input#zpkpr, input#mgzpkpr  {
    top: 73%;
    left: 50.4%;
}
input#zpknb, input#mgzpknb {
    top: 73%;
    left: 65.4%;
}
input#zsku, input#mgzsku {
    top: 73%;
    left: 80.5%;
}
input#ztot, input#mgztot {
    top: 81.6%;
    width: 43.85%;
}

div#packResultsButton{
    position: absolute;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;   
    top: 86.55%;
    left: 50%;
    width: 21.5%;
    height: 4.35%;  
}

div#packResultsButton{
color: #ffffff;
background-color: #2d63c8;
font-size: 16px;
border: 1px solid #2d63c8;
padding: 5px;
cursor: pointer
}

div#mgsResultsButton{
    position: absolute;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;   
    top: 86.55%;
    left: 50%;
    width: 21.5%;
    height: 4.35%;  
}

div#mgsResultsButton{
color: #ffffff;
background-color: #2d63c8;
font-size: 16px;
border: 1px solid #2d63c8;
padding: 5px;
cursor: pointer
}

div#packResultsButton:hover, 
div#mgsResultsButton:hover  {
			color: #2d63c8;
			background-color: #ffffff;
		}


/* screen 3 and 5 */

#screen3 div, #screen5 div{
    position: absolute;
    background-color: transparent;
    font-family: Arial, sans-serif;
text-align: center;
font-size: 16px;
line-height: 36px;
color: #ffffff;
font-weight: bold;
}

#screen3 div, #screen5 div {
    top: 51.3%;
    left: 50.4%;
    width: 6.8%;
    height: 6.6%;
}
div#in3mth, div#mgin3mth  {
    left: 27.6%;
    line-height: 55px;
}
div#in6mth, div#mgin6mth {
    left: 35.2%;
    line-height: 55px;
}
div#in9mth, div#mgin9mth {
    left: 42.6%;
    line-height: 55px;
}
div#spcs3mth, div#mgspcs3mth {
    top: 71.5%;
    left: 27.6%;
    height: 4.5%;
}
div#spcs6mth, div#mgspcs6mth {
    top: 71.5%;
    left: 35.2%;
    height: 4.5%;
}
div#spcs9mth, div#mgspcs9mth {
    top: 71.5%;
    left: 42.6%;
    height: 4.5%;
}
div#spts3mth, div#mgspts3mth {
    top: 76.7%;
    left: 27.6%;
    height: 4.5%;
}
div#spts6mth, div#mgspts6mth {
    top: 76.7%;
    left: 35.2%;
    height: 4.5%;
}
div#spts9mth, div#mgspts9mth {
    top: 76.7%;
    left: 42.6%;
    height: 4.5%;
}
div#zps3mth, div#mgzps3mth {
    top: 81.7%;
    left: 27.6%;
    height: 4.5%;
    color:#000000;
}
div#zps6mth, div#mgzps6mth {
    top: 81.7%;
    left: 35.2%;
    height: 4.5%;
    color:#000000;
}
div#zps9mth, div#mgzps9mth {
    top: 81.7%;
    left: 42.6%;
    height: 4.5%;
    color:#000000;
}
div#tapsz, div#mgtapsz {
    top: 43%;
    left: 74.7%;
    width: 19.6%;
    height: 6.5%;
    line-height: 50px;
    color:#000000;
}

div#zessSavingsDiv{

    position: absolute;
    top: 51.7%;
    left: 51.9%;
    width: 42.8%;
    height: 34.4%;

}

div#zessMGSavingsDiv{

    position: absolute;
    top: 51.7%;
    left: 51.9%;
    width: 42.8%;
    height: 34.4%;

}

input:focus,
select:focus {
    outline: none;
}
