input {
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;
}
#screen1 input {
    top: 47.05%;
    left: 50.4%;
    width: 21.5%;
    height: 4.35%;  
}
#pk_btn, #mg_btn {
    position: absolute;
    top: 53.05%;
    left: 11.4%;
    width: 34.5%;
    height: 32.35%; 
    cursor: pointer;
}

.toggle-btn1 {
    position: absolute;
    top: 48%;
    width: 7%;
    height: 8%;
    z-index: 2;
}

#mg_btn {
    left: 54%;
}
.home-btn, .pack-res, .pack-btn, .mg-pack-res, .mg-pack {
    position: absolute;
    top: 79.05%;
    left: 68.4%;
    width: 12.5%;
    height: 5.35%; 
    cursor: pointer;
}
.pack-res, .pack-btn, .mg-pack-res, .mg-pack {
    left: 82.4%;
}

        
/*screen 2 and 4*/        
#screen2 input, #screen4 input {
    top: 36.9%;
    left: 50.4%;
    width: 13.7%;
    height: 4.35%;
}
input#cpknb, input#mgcpknb {
    left: 65.4%;
}
input#ctotsku, input#mgtotsku {
    left: 80.5%;
}
input#ctotsp, input#mgtotsp  {
    top: 45.5%;
    width: 43.85%;
}
input#zpkpr, input#mgzpkpr  {
    top: 58.6%;
    left: 50.4%;
}
input#zpknb, input#mgzpknb {
    top: 58.6%;
    left: 65.4%;
}
input#zsku, input#mgzsku {
    top: 58.6%;
    left: 80.5%;
}
input#ztot, input#mgztot {
    top: 67.2%;
    width: 43.85%;
}

#screen2 div, #screen4 div {
    position: absolute;
}
div#cpknb, div#mgcpknb {
    left: 65.4%;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
}
div#ctotsku, div#mgtotsku {
    left: 80.5%;
    top: 36.9%;
    width: 13.7%;
    height: 4.35%;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
}
div#ctotsp, div#mgtotsp  {
    top: 45.5%;
    width: 43.85%;
    left: 50.4%;
    height: 4.35%;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
}
div#zpkpr, div#mgzpkpr  {
    top: 58.6%;
    left: 50.4%;
    height: 4.35%;
}
div#zpknb, div#mgzpknb {
    top: 58.6%;
    left: 65.4%;
    height: 4.35%;
    width: 13.7%;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
}
div#zsku, div#mgzsku {
    top: 58.6%;
    left: 80.5%;
    height: 4.35%;
    width: 13.7%;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
}
div#ztot, div#mgztot {
    top: 67.2%;
    width: 43.85%;
    height: 4.35%;
    left: 50.4%;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
}

div.errorMessage {
    top: 73.2%;
    width: 43.85%;
    height: 4.35%;
    left: 50.4%;
    text-align: right;
    line-height: 38px;
    color: red;
}


/* screen 3 and 5 */

#screen3 div, #screen5 div{
    position: absolute;
}


div#in3mth, div#mgin3mth  {
    left: 27.6%;
    top: 36.5%;
    width: 6.8%;
    height: 6.6%;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
}
div#in6mth, div#mgin6mth {
    left: 35.2%;
    top: 36.5%;
    width: 6.8%;
    height: 6.6%;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
}
div#in9mth, div#mgin9mth {
    left: 42.6%;
    top: 36.5%;
    width: 6.8%;
    height: 6.6%;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
}
div#spcs3mth, div#mgspcs3mth {
    top: 56.9%;
    left: 27.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#spcs6mth, div#mgspcs6mth {
    top: 56.9%;
    left: 35.2%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#spcs9mth, div#mgspcs9mth {
    top: 56.9%;
    left: 42.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#spts3mth, div#mgspts3mth {
    top: 61.9%;
    left: 27.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#spts6mth, div#mgspts6mth {
    top: 61.9%;
    left: 35.2%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#spts9mth, div#mgspts9mth {
    top: 61.9%;
    left: 42.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}
div#zps3mth, div#mgzps3mth {
    top: 67%;
    left: 27.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    color:#000000;
}
div#zps6mth, div#mgzps6mth {
    top: 67%;
    left: 35.2%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    color:#000000;
}
div#zps9mth, div#mgzps9mth {
    top: 67%;
    left: 42.6%;
    height: 4.5%;
    width: 6.8%;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    color:#000000;
}
div#tapsz, div#mgtapsz {
    top: 28.3%;
    left: 74.7%;
    width: 19.6%;
    height: 6.5%;
    color:#000000;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
}

div#zessSavingsDiv{

    position: absolute;
    top: 36.7%;
    left: 51.9%;
    width: 42.8%;
    height: 34.4%;

}

div#zessMGSavingsDiv{

    position: absolute;
    top: 36.7%;
    left: 51.9%;
    width: 42.8%;
    height: 34.4%;

}

input:focus,
select:focus {
    outline: none;
}
